<div class="row">
  <div class="col-md-6">
    <div class="todolist not-done">
      <h1>Todos</h1>
      <div class="alert alert-danger" ng-show="error">
        <strong>Error!</strong> {{error.message}}
      </div>
      <form ng-submit="addTodo()">
        <input type="text" class="form-control add-todo" ng-model="myTodo" placeholder="Add todo" required>
        <button id="checkAll" type="submit" class="btn btn-success">Add</button>
      </form>

      <hr>
      <ul id="sortable" class="list-unstyled">
        <li class="ui-state-default" ng-repeat="todo in todos | filter:{done: false} track by $index">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="todo.done" ng-change="onDone(true)" />
              {{todo.desc}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="todolist">
      <h1>Already Done</h1>
      <button type="button" class="btn btn-warning" ng-click="archiveAll()">Archive all</button>
      <ul id="done-items" class="list-unstyled">
        <li ng-repeat="todo in todos | filter:{done: true}">
          {{todo.desc}}
          <button class="remove-item btn btn-default btn-xs pull-right" ng-click="onDone(false)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <h1>Upgrade your plan</h1>
    <div class="col-md-4 panel panel-default" ng-repeat="plan in plans">
      <div class="panel-body">
        <div class="col-md-12">{{plan.name}}</div>
        <div class="col-md-12">{{plan.desc}}</div>
        <div class="col-md-12">{{plan.customData.customAtrribute}}</div>
        <button class="btn btn-default btn-xs pull-right" ng-click="purchase(plan)">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
      </div>

    </div>
  </div>
</div>
